@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 10px #F57621;
  transition: 0.4s;
}

.sign-up {
color: white;
  background-color: #F57621;
  width: 10rem;
}

.login {
color: white;
  background-color: #F57621;
  border: 1px solid #F57621;
  width: 10rem;
}

button:hover {
  color: white;
  box-shadow: 0 0 20px #F57621;
  background-color: #F57621;
}

